# Nuxt dev/build outputs
/front-end/.output
/front-end/.nuxt
/front-end/.nitro
/front-end/.cache
/front-end/dist

# Node dependencies
/front-end/node_modules

# Logs
/front-end/logs
/front-end/*.log

# Misc
/front-end/.DS_Store
/front-end/.fleet
/front-end/.idea

# Local env files
/front-end/.env
/front-end/.env.*
/front-end/!.env.example


###> symfony/framework-bundle ###
/back-end/.env.local
/back-end/.env.local.php
/back-end/.env.*.local
/back-end/.env
/back-end/config/secrets/prod/prod.decrypt.private.php
/back-end/public/bundles/
/back-end/var/
/back-end/vendor/
/back-end/geos-3.4.2/
/back-end/geos-3.4.2*
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/back-end/phpunit.xml
/back-end/.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
/back-end/.phpunit.result.cache
/back-end/phpunit.xml
###< symfony/phpunit-bridge ###

###> lexik/jwt-authentication-bundle ###
/back-end/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
