<h1>Hello! :D</h1>
<p>You have been invited to join {{ user.firstName }} {{ user.lastName }} on FOGO Mobile application!</p>
<p>
    <a href="{{ url }}">Click here to download the app, create an account and join your friend!</a>
</p>