<h1>Welcome to FOGO!</h1>
<p>You signed up as {{ user.firstName }} {{ user.lastName }} with the following email: {{ user.email }}</p>
<p>
    <a href="{{ url }}">Click here to activate your account</a>
</p>