{% extends 'admin/index.html.twig' %}

{% block title %}Edit rank{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Edit rank</h5>
                    <a class="btn btn-primary float-end" href="{{ path('app_rank_index') }}"><i class="menu-icon tf-icons bx bx-caret-left"></i> Back to list</a>
                </div>
                <div class="card-body">
                    {{ include('admin/rank/_form.html.twig', {'button_label': 'Update'}) }}
                    {{ include('admin/rank/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
