{% extends 'admin/index.html.twig' %}

{% block title %}New region{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Create new region</h5>
                    <a class="btn btn-primary float-end" href="{{ path('app_region_index') }}"><i class="menu-icon tf-icons bx bx-caret-left"></i> Back to list</a>
                </div>
                <div class="card-body">
                    {{ include('admin/region/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
