main {
    min-height:100vh;
}

#sidenav-collapse-main li.nav-item a {
    transition: all .2s;
}

#sidenav-collapse-main li.nav-item a:hover {
    color: #344767;
    background-color: #fff;
    box-shadow: 0 20px 27px 0 rgba(0,0,0,.05);
    border-radius: 0.5rem;
}

.g-sidenav-show .sidenav .nav-link-text {
    transition: none;
}
