

main {
    min-height: 100vh;
}

#sidenav-collapse-main li.nav-item a {
    transition: all .2s;
}

#sidenav-collapse-main li.nav-item a:hover {
    color: #344767;
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, .05);
    border-radius: 0.5rem;
}

.g-sidenav-show .sidenav .nav-link-text {
    transition: none;
}

#sidenav-collapse-main li.nav-item a.active .icon svg path {
    fill: #fff;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color) !important;
    background-color: var(--bs-nav-pills-link-active-bg) !important;
}

#lang-select {
    min-width: 60px;
}

.icon-l .svg-inline--fa {
    height: 1.5em;
}

.form-control {
    margin-bottom: 12px;
}

label, .form-label {
    font-size: 14px;
}

h6 {
    font-size: 19px;
}

.form-control {
    border: none;
}

.form-control:focus, .hasbeenfocused {
    color: #495057;
    background-color: #fff;
    border: 1px solid #d2d6da!important;
    outline: 0;
    box-shadow: none!important;
}

textarea {
    resize: none;
}